@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
 body{
    font-family: Arial, Helvetica, sans-serif;
}

*{
    
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar{
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: #042331;
}

.sidebar ul a i{
    margin-right: 16px;
}
.upbar{
    background: #063146;
    font-size: 40px;
    color: white;
    width: 100% !important;
    height: 71px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.8;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 42px;
    text-align: end;
}
.containerGeneral{
    padding-top: 113px;
    padding-left: 284px !important;
    margin-right: 20px;
}
.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    
    margin-top:15px;
    display: none;
    background-color: white;
    border-radius:3px;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }
  
